@model IEnumerable<Tareas.Models.CategoriaProducto>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Lista de Categorias</h2>
<p style="color: darkred">Solo se eliminarán categorías sin productos asociados</p>

<div class="row">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Agregar
    </button>

</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Nombre Imagen</th>
                <th colspan="2">Acciones</th>
            </tr>
            @foreach (var cat in Model)
            {
                <tr>
                    <td>@cat.Id</td>
                    <td>@cat.Nombre</td>
                    <td>@cat.imagen</td>
                    <td>@Html.ActionLink("Borrar", "Borrar/" + cat.Id, "Categoria")</td>
                    <td>@Html.ActionLink("Editar", "InfoEditar/" + cat.Id, "Categoria")</td>
                </tr>
            }
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form method="post" action="@Url.Action("Guardar", "Categoria")" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Nueva Categoria</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="idCategoria">ID Categoria</label>
                        <input type="number" name="idCategoria" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="imagen">Imagen</label>
                        <input type="file" name="imagen" class="form-control" required />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <input type="submit" class="btn btn-primary" value="Guardar" />
                </div>
            </div>
        </form>
    </div>
</div>